@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <div class="nav-item px-3">Authorized</div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-item px-3">NON-Authorized</div>
    </NotAuthorized>
</AuthorizeView>